@model MontadordeBarra.Models.CalculadoraModel

<h1>Resultado do Cálculo</h1>

<p>
    <strong>Considerar Peso da Barra:</strong> @Model.ConsiderarPesoBarra
</p>
<p>
    <strong>Peso da Barra:</strong> @Model.PesoBarra kg
</p>

<a asp-action="Index">Voltar</a>
